/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {


/* nav ハンバーガーメニュー  */

  nav.globalMenuSp {
    display: none;
  }

  .navToggle {
    display: none;
  }
/* nav ハンバーガーメニュー end */

/* header */

/* header end */

/* top */

.second-title p {
  margin-left: 264px;
}

/* top end */

/* profile */

.p-left {
  font-size: 14px;
  padding-top: 37px;
}

.p-right {
  font-size: 26px;
}

.about-right {
  font-size: 20px;
}

.about-left {
  padding-bottom: 27px;
}
/* profile end */

/* history */

.history-box {
  width: 45%;
  margin-left: 2%;
  margin-right: 0;
}

/* history end */

/* process */

.left, .right {
  float: none;
}

.right {
  width: 100%;
}

.left {
  width: 100%;
  text-align: center;
}

.left p {
  margin-left: 0;
}
/* process end */

/* footer */

.message p {
  width: 100%;
}

/* footer end */





}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {

  /* 共通のcss */

  /* 共通のcss */

/* nav ハンバーガーメニュー  */

  .header-menu {
    display: none;
  }

  .navToggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 0px;
    top: 0px;
    width: 42px;
    height: 50px;
    cursor: pointer;
    z-index: 13;
    text-align: center;
  }

  .navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: 2px solid #fff;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
  }

  .navToggle span:nth-child(1) {
    top: 9px;
  }

  .navToggle span:nth-child(2) {
    top: 18px;
  }

  .navToggle span:nth-child(3) {
    top: 27px;
  }

  .navToggle span:nth-child(4) {
    border: none;
    font-family: "GFS Didot", serif;
    color: #fff;
    font-size: 8px;
    top: 14px;
  }

  /* 最初のspanをマイナス45度に */
  .navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* 2番目と3番目のspanを45度に */
  .navToggle.active span:nth-child(2),
  .navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: rgba(102, 102, 102, 0.8);
    color: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
    display: block;
  }

  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    font-size: 16px;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  /* 最後はラインを描かない */
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  nav.globalMenuSp ul li a {
    display: block;
    font-family: "GFS Didot", serif;
    color: #fff;
    padding: 2% 0;
  }

  nav.globalMenuSp ul li a:hover {
    color: #00ccff;
    transition: color .3s;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }

/* nav ハンバーガーメニュー end */

/* top */

.top-section {
  padding-top: 170px;
  padding-bottom: 60px;
}

.first-title {
  margin-bottom: 80px;
 }
  
.first-title h1 {
  font-size: 50px;
}

.first-title span {
  font-size: 24px;
}

.cursive {
  font-size: 20px;
}

.cursive span {
  font-size: 9px;
}

.second-title h2 {
  font-size: 36px;
}

.second-title p {
  font-size: 10px;
  margin-left: 159px;
}
/* top end */

/* profile */

.profile-wrap {
  text-align: center;
}

.p-left {
  width: 100%;
  font-size: 14px;
  float: none;
  padding: 50px 0 10px;
  border-bottom: none;
}

.p-right {
  width: 100%;
  margin-left: 0;
  font-size: 24px;
  padding: 10px 0 10px;
}


/* profile end */

/* history */

.history-box {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.history-box h4 {
  text-align: center;
}

.btn {
  float: none;
  width: 92%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-top: 10px;
}
/* history end */

/* process */

/* process end */

/* footer */

/* footer end */



}
