/*-------  reset css  --------*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

p {
  font-size: 16px;
}
/*-------  reset css end --------*/

/*-------  共通のCSS  --------*/

.container {
  max-width: 1000px;
  padding: 0 2%;
  margin: 0 auto;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.section-title h3 {
  font-size: 52px;
  font-family: "GFS Didot", serif;
}

.section-title p {
  color: #666;
  margin-top: 10px;
}

/*-------  共通のCSS  --------*/

/*-------  header  --------*/

header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 10;
  line-height: 50px;
  overflow: hidden;
  font-family: "GFS Didot", serif;
}

.header-left {
  float: left;
}

.header-logo {
  color: #00ccff;
  font-size: 24px;
}

.header-logo span {
  font-size: 16px;
}

.header-menu {
  float: right;
}

.header-menu li {
  float: left;
}

.header-menu a {
  font-size: 16px;
  padding: 10px;
}

.header-menu a:hover {
  color: #00ccff;
  transition: color .3s;
}

/*-------  header end  --------*/

/*-------  top  --------*/

.top-section {
  padding-top: 230px;
  padding-bottom: 170px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.first-title h1 {
  font-family: "GFS Didot", serif;
  color: #00ccff;
  font-size: 80px;
}

.first-title span {
  font-family: "GFS Didot", serif;
  color: #00ccff;
  font-size: 48px;
}

.cursive {
  font-family: "Calligraffitti", serif;
  font-size: 32px;
  margin-top: 5px;
}

.cursive span {
  font-family: "Calligraffitti", serif;
  font-size: 16px;
  color: #fff;
}

.second-title {
  margin-top: 90px;
  display: inline-block;
}

.second-title h2 {
  font-size: 60px;
}

.second-title p {
  font-size: 16px;
  margin-top: 12px;
  text-align: right;
}

/*-------  top end  --------*/

/*-------  profile  --------*/

.profile-section {
  padding-bottom: 70px;
}

.profile-box {
  overflow: hidden;
}

.p-left {
  width: 40%;
  border-bottom: 1px solid #ccc;
  float: left;
  padding: 20px 0 10px;
}

.p-left-ja {
  color:#666;
  font-size: 14px;
  margin-top: 10px;
}

.p-right {
  float: right;
  width: 60%;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 10px;
}

.p-right p {
  font-size: 24px;
}

.name-right, .interests-right,
.skills-right, .tools-right,
.contact-right {
  padding-top: 36px;
}

.about-right {
  line-height: 1.2;
}

.about-left {
  padding-bottom: 26px;
}

/*-------  profile end  --------*/

/*-------  history  --------*/

.history-section {
  background-color: #ccc;
  padding-bottom: 50px;
}

.history-box {
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin: 0 20px;
}

.history-box h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.history-box p {
  color: #666;
  line-height: 1.7;
}

.btn {
  padding: 5px 14px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
  background-color: #333;
  border: 1px solid #333;
  float: right;
  margin: 10px;
}
.btn:hover {
    cursor:pointer;
    color: rgba(0, 204, 255, 1.0);
}

/*-------  history end  --------*/

/*-------  modal windows  --------*/

.modal-content {
    position:fixed;
    display:none;
    z-index:100;
    width:50%;
    max-height: 70%;
    margin:0;
    padding:3% 5%;
    border:2px solid #ccc;
    background:#fff;
    overflow:auto;
}

.modal-overlay {
    z-index:10;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-close span{
  display: inline-block;
  position: relative;
  margin: 0 20px 0 7px;
  padding: 0;
  width: 4px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
  left: 100%;
  cursor:pointer;
}

.modal-close span:before{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 20px;
  height: 4px;
  margin-top: -2px;
  background: #000;

}

.modal-content h4 {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.modal-content p {
  color: #666;
  line-height: 1.5;
}

/*-------  modal windows end  --------*/

/*-------  process  --------*/

.process-section {
  padding-bottom: 30px;
}

.process-wrap {
  margin-top: 20px;
}

.process-box {
  overflow: hidden;
  margin-bottom: 40px;
}

.left {
  float: left;
  width: 40%;
}

.left h5 {
  font-size: 40px;
}

.left p {
  color: #666;
  margin-top: 10px;
  display: inline-block;
}

.right {
  width: 60%;
  float: right;
  line-height: 1.7;
}

.right span {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.process-right-txt {
  margin-bottom: 20px;
}

/*-------  process end  --------*/

/*-------  footer  --------*/

footer {
  background-color: #333;
  padding: 70px 0;
  color: #fff;
  text-align: center;
}

.contact {
  margin: 40px 0;
}

.contact p {
  font-size: 18px;
  padding-top: 10px;
  font-weight: bold;
}

.copyright {
  font-size: 14px;
}
/*-------  footer end  --------*/

